html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0eded;
}

h1, h2, h3, h4 {
  margin: 0;
}

.container {
  max-width: 550px;
  max-height: 705px;
  background-color: #FFFF;
}